{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

{% if reports|length < 1 %}
	<h4>No reports created</h4>
{% else %}

<table>
	<tr>
		<td class="col-name">Target</td>
		<td class="col-name">Date Created</td>
		<td></td>
	</tr>
	{% for report in reports %}
		<tr>
			<td><a href="/report/{{report.ip}}">{{ report.ip }}</a></td>
			<td>{{ report.date_created.strftime('%Y-%m-%d') }}</td>
			<td><a href="/delete/{{report.ip}}">delete</a></td>
		</tr>
	{% endfor %}
</table>

{% endif %}

{% endblock %}