{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<h1>Report for {{ report.ip }} on port {{ port }}</h1>

<!-- Report for port 80 -->

{% if port == 80 %}
	<h3>Directory Brute Force Results</h3>

	<table>
		<tr>
			<td class="col-name">Directory</td>
			<td class="col-name">Status</td>
		</tr>
		{% for dir, status in report.webScanResults['dirs'].items() %}
			<tr>
				<td><a href="http://{{report.ip}}:80{{dir}}">http://{{ report.ip }}:80{{ dir }}</a></td>
				<td>{{ status }}</td>
			</tr>
		{% endfor %}
	</table>

	<h3>Nmap Script</h3>

	{% for script, result in report.webScanResults['nmap-scripts'].items() %}
		<p><strong>{{ script }}</strong></p>
		{% for line in result.split('\n') %}
			<p>{{ line }}</p>
		{% endfor %}
	{% endfor %}

{% endif %}

<!-- Report for port 21 -->

{% if port == 21 %}
	<h3>FTP Banner</h3>
	<p>{{ report.ftpScanResults['banner'] }}</p>

	<h3>Nmap Script</h3>

	{% for script, result in report.ftpScanResults['nmap-scripts'].items() %}
	<p><strong>{{ script }}</strong></p>
		{% for line in result.split('\n') %}
			<p>{{ line }}</p>
		{% endfor %}
	{% endfor %}
{% endif %}

<!-- Report for port 25 -->

{% if port == 25 %}
	<h3>SMTP Banner</h3>
	<p>{{ report.smtpScanResults['banner'] }}</p>

	<h3>User Discovery Brute Force</h3>
	{% for user in report.smtpScanResults['users-found'] %}
		<p>{{ user }}</p>
	{% endfor %}
{% endif %}

<!-- Report for port 139 or 445 -->

{% if port == 139 or port == 445 %}
	<h3>Anonymous Login Check</h3>
	<p>{{ report.smbScanResults['anon-login'] }}</p>

	<h3>Shares Found</h3>
	{% for share, canRead in report.smbScanResults['shares'].items() %}
		{% if canRead == True %}
			<p><a href="">{{ share }}</a></p>
		{% else %}
			<p>{{ share }}</p>
		{% endif %}
	{% endfor %}

	<h3>Files Found</h3>
	{% for share, files in report.smbScanResults['files'].items() %}
		<p>{{ share }}:</p>
		{% for file, type in files.items() %}
			<p>{{ type }} - {{ file }}</p>
		{% endfor %}
	{% endfor %}
{% endif %}

<!-- Report for port 3306 -->
{% if port == 3306 %}
	<h3>Nmap Script</h3>

	{% for script, result in report.mysqlScanResults['nmap-scripts'].items() %}
		<p><strong>{{ script }}</strong></p>
		{% for line in result.split('\n') %}
			<p>{{ line }}</p>
		{% endfor %}
	{% endfor %}

	{% if options['mysql-login']|length > 0 %}
		<h3>{{ options['mysql-login'] }}</h3>
	{% endif %}
{% endif %}

{% endblock %}