{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<h1>Report for {{ report.ip }}</h1>

<table>
	<tr>
		<td class="col-name"></td>
		<td class="col-name">Port</td>
		<td class="col-name">State</td>
		<td class="col-name">Name</td>
		<td class="col-name">Version</td>
	</tr>
	<tr>
	{% for port in report.services %}
		<tr>
			<td><a href="/report/{{report.ip}}/{{port}}">More Info</a></td>
			<td>{{ port }}</td>
			<td>{{ report.services[port]['state'] }}</td>
			<td>{{ report.services[port]['name'] }}</td>
			<td>{{ report.services[port]['version'] }}</td>
		</tr>
	{% endfor %}
</table>

<h4>OS: {{ report.os }}</h4>

<form action="/report/{{report.ip}}/vulns" method="GET">
	<input type="submit" value="See Vulnerabilities">
</form>

{% endblock %}